<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=DARKO;Initial Catalog=AdventureWorks2016;Integrated Security=True;Application Name=SimpleTalkMongoDb;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--Default MongoDB Database name-->
    <add key="MongoDbName" value="simpleTalk"/>
    <!--Default MongoDB Database name for demonstrating $lookup operator-->
    <add key="SampleLookup" value="sampleLookup"/>


    <!--Default MongoDB Collection name-->
    <add key="MongoCollectionName" value="adventureWorks2016"/>
    <add key="MongoSpetialOfferCollectionName" value="spetialOffer"/>
    <add key="MongoProducts" value="products"/>

    <!--Collection used to demonstrate $lookup operator-->
    <add key="MongoPersons" value="person"/>
    <add key="MongoMeanings" value="meanings"/>
    <add key="MongoItems" value="items"/>
    
    <!--MongoDB connection string-->
    <add key="MongoConnStr" value="mongodb://usrSimpleTalk:pwdSimpleTalk@localhost:27017/simpleTalk"/>

    <!--T-SQL statements used to generate JSON files-->
    <add key="TSQL" value="SELECT * FROM SALES.SalesOrderHeader;SELECT * FROM SALES.SalesOrderDetail;"/>
    <add key="TSQLSpetialOffers" value="SELECT     SpecialOfferID    ,Type    ,Description    ,Category FROM Sales.SpecialOffer; "/>
    <add key="TSQLProducts" value="SELECT     ProductID    ,ProductNumber    ,pp.Name    ,PS.Name SubKategoryName    ,pc.Name CategoryName FROM Production.Product pp LEFT OUTER JOIN PRODUCTION.ProductSubcategory PS     ON pp.ProductSubcategoryID = PS.ProductSubcategoryID LEFT OUTER JOIN production.ProductCategory pc     ON ps.ProductCategoryID = pc.ProductCategoryID;   "/>




  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.20627" newVersion="7.5.0.20627"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
